Source: libera-fpga-tools
Section: libera
Priority: optional
Maintainer: Instrumentation Technologies <support@i-tech.si>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: libera-fpga-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libera FPGA tools.
